/*Page background and universal text*/
body{
	background-color: #9E26AD
	font-family: Arial;
}
/*Timer design - background*/
.TimerShell {
	background-color: #F64437;
	width: 280px;
	padding: 20px;
	border-radius: 30px;
}
/*LCD screen*/
#Display {
background-color: #d7e0d2;
height: 100px;
border: 1px solid grey;
margin-bottom: 15px;
display: flex;
justify-content: center;
align-items: center;
font-size; 70px;
	
}
/*Set time and breaks box*/
.userbox {
	position: fixed;
	top: 20px;
	left: 10px;
	display: flex;
	gap: 20px;
}

/*Buttons*/
.buttons {
display: flex;
justify-content: space-between;
margin-bottom: 10px;
}

/*Download button spacing*/
.DLButton {
	width: 100%;
}

/*Set time and break box text field*/
.userfield {
	width: 100%;
	padding: 8px;
	margin-bottom: 15px;
	box-sizing: border-box;
	
}	




